.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.desktop-vid {
  display: block;
}
.mobile-vid {
  display: none;
}

@media screen and (max-width: 687px) {
  .desktop-vid {
    display: none;
  }
  .mobile-vid {
    display: block;
  }
}
